<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="InventorySystem"
			 connectionString="Server=DESKTOP-7SNJS79\SQLEXPRESS;Database=InventorySystem;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>